main {width:1200px; margin:0 auto; /* background:aqua; */}
/* 공통 제목 css */
main section {text-align:center; letter-spacing:-0.02em;}
main section .category {text-transform:uppercase; margin-top:50px;}
main section .category::after {display:block; content:''; height:2px; width:20px; margin:20px auto 0; background:#aaa;}
main section h1 {font-size:1.8rem; padding:25px 0;}
main section .contents {color:#999; font-weight:700; margin-bottom:30px;}
/* 카히스토리 영상 */
/* 카히스토리 영상 - 탭 제목, 내용 */
main #video .tab_title {margin-bottom:30px;}
main #video .tab_title a {padding:20px 35px; display: inline-block;}
/* 탭 제목 활성화 디자인 + js class 호출용 */
main #video .tab_title a.active {border-bottom:5px solid rgb(0, 153, 255);}
main #video .tab_contents {}
main #video .tab_contents .tab_c1 {position: relative;}
main #video .tab_contents .tab_c1 img {width:200px; position:absolute; right:5%; bottom:-25%;}
main #video .tab_contents .tab_c1 video {width:80%; margin:0 auto;}
main #video .tab_contents .tab_c2 {}
main #video .tab_contents .tab_c2 img {width:80%; margin:0 auto;}
main #video .tab_contents .active {}
/* 자주사용하는 메뉴 - 탭제목 */
main #menu .tab_title {display:flex; justify-content:center; border-bottom:1px solid #888;}
main #menu .tab_title a {
    width:160px; padding:15px 0; margin-right:10px; background:lime; position:relative; bottom:-1px;border:1px solid #ccc; background:#fff; border-bottom:1px solid #888;}
main #menu .tab_title a:last-child {margin-right:0;}
/* 탭 제목 활성화 디자인 + js class 호출용 */
main #menu .tab_title a.active {
    border:1px solid #888; border-bottom:1px solid #fff; border-top:5px solid rgb(0, 153, 255);}
/* 자주사용하는 메뉴 - 내용 */
main #menu .tab_contents {}
main #menu .tab_contents .tab_c1 {display:flex; text-align:left; padding-top:50px;}
main #menu .tab_contents .tab_c1 .left {width:50%;}
main #menu .tab_contents .tab_c1 .left h2 {font-size:1.4rem; color:rgb(0, 153, 255); }
main #menu .tab_contents .tab_c1 .left p {padding-top:30px; line-height:1.3em;}
main #menu .tab_contents .tab_c1 .left p img {width:90%;}
main #menu .tab_contents .tab_c1 .left p a {color:rgb(0, 153, 255); }
main #menu .tab_contents .tab_c1 .right {width:50%;}
main #menu .tab_contents .tab_c1 .right h3 {font-size: 1.5rem;}
main #menu .tab_contents .tab_c1 .right ul {padding-top:30px;}
main #menu .tab_contents .tab_c1 .right ul li {
    display:flex; border-bottom:1px dashed #aaa; padding:20px 0 10px;
}
main #menu .tab_contents .tab_c1 .right ul li:last-child {border:0;}
main #menu .tab_contents .tab_c1 .right ul li > p {}
main #menu .tab_contents .tab_c1 .right ul li > p img {}
main #menu .tab_contents .tab_c1 .right ul li > .contents {padding-left:20px;}
main #menu .tab_contents .tab_c1 .right ul li > .contents .num {font-weight:700; color:rgb(0, 153, 255);}
main #menu .tab_contents .tab_c1 .right ul li > .contents .con {padding-top:10px; color:#222;}
main #menu .tab_contents .tab_c1 .right ul li > .contents .con em {font-size:1.2rem; font-weight:800;}
main #menu .tab_contents .tab_c1 .right ul li > .contents .con span {}
main #menu .tab_contents .tab_c2 {height:400px;}
main #menu .tab_contents .tab_c3 {height:400px;}
main #menu .tab_contents .tab_c4 {height:400px;}